/* .modal{
    position: relative;
} */
.item{
    /* position: relative; */
    display: flex;
    margin: 10px 10px;
    text-align: center;
}
.item span{
    margin-right: 10px;
}

.taskContent p:hover {
    background-color: rgb(217, 211, 211);
    cursor: pointer;
} 
